[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

/*#hw12 {
    border: 2px solid #B31232;
    background-color: #00cc22;
}*/

.select {
    background-color: var(--background);


}
